@use '../utilities/' as *;

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

// custom properties for dark and light mode

body.dark-mode {
    --text-color: hsl(0, 0%, 100%);
    --bg-body-color: hsl(207, 26%, 17%);
    --bg-element-color: hsl(209, 23%, 22%);
    --light-mode-input: hsl(0, 0%, 100%);
    --search-icon: url('../../images/search-dark.svg');
    --filter-icon: url('../../images/arrow-down-dark.svg');
}

body.light-mode {
    --text-color: hsl(200, 15%, 8%);
    --bg-body-color: hsl(0, 0%, 98%);
    --bg-element-color: hsl(0, 0%, 100%);
    --light-mode-input: hsl(0, 0%, 52%);
    --search-icon: url('../../images/search-light.svg');
    --filter-icon: url('../../images/arrow-down-light.svg');
}


// Box sizing 
*,
*::before,
*:after {
    box-sizing: border-box;
}

/* reset margins  */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
picture {
    margin: 0
}

/*  set up the body  */
body {
    min-height: 100vh;
    font-size: 16px;
    font-family: var(--ff-nunito);
    background-color: var(--bg-body-color);
    color: var(--text-color);
}

body:not(.dark-mode-preloading) {
    transition: all 0.2s linear;
}



/* images */
img,
picture {
    max-width: 100%;
}

/* list  */
ul {
    list-style: none;
    padding: 0;
    margin: 0
}

/* links */
a,
a:visited {
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}

/* button */
button {
    font: inherit;
}

/* remove animations for people who turned it off*/
@media (prefers-reduced-motion: reduce) {

    *,
    *::after,
    *::before {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}


// show for screen readers only
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
    ;
}