<div class="container">

    <app-search-filter (filter)="filterByRegion($event)"></app-search-filter>

    <div class="d-flex cards">
        <div class="card box-shadow" *ngFor="let country of countries">
            <a (click)="goToCountry(country)">
                <div class="card__image">

                    <img data-src="country.flags.png" [src]="country.flags.png" [alt]="country.name">
                </div>
                <div class="card__body">
                    <h5 class="card__title fw-800">{{ country.name }}</h5>
                    <p class="card-text fw-300">
                        <span class="fw-600">Population: </span> {{ country.population | number }}
                    </p>
                    <p class="card-text fw-300">
                        <span class=" fw-600">Region: </span> {{ country.region}}
                    </p>
                    <p class="card-text fw-300">
                        <span class="fw-600">Capital: </span> {{ country.capital }}
                    </p>
                </div>

            </a>
        </div>
    </div>
</div>