<div class="search-filter">
    <div class="search">
        <input type="search" [formControl]="searchBox" class="form-control box-shadow" id="searchBox"
            placeholder="Search for a country...">
        <div class="list-group" *ngIf="showList">
            <a [routerLink]="'/countries/' + country.name" class="list-group-item" *ngFor="let country of results">
                {{ country.name }}
            </a>
        </div>
        <!-- <ul class="list-group" *ngIf="showList">
            <li class="list-group-item" *ngFor="let country of results">
                <a [routerLink]="'/countries/' + country.name">
                    {{ country.name }}
                </a>
            </li>
        </ul> -->
    </div>
    <div class="filter ">
        <app-dropdown></app-dropdown>
    </div>

</div>