@use '../utilities/' as *;

.d-flex {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.justify-between {
    justify-content: space-between;
}

.justify-between--md {
    @include breakpoint-up('medium') {
        justify-content: space-between;
    }
}

.align-items {
    align-items: center;
}