@use '../utilities/' as *;

.header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 2;
    background-color: var(--bg-element-color);

    .navbar {
        padding: rem(24) 0;
    }

    h1 {
        font-size: clamp(0.8rem, 1vw + 0.8rem, 1.5rem);
    }

}