<div class="dropdown">
    <button class="btn btn-lg box-shadow" (click)="onDrop()" (blur)="onBlurDrop()"> {{ dropDownTitle }}<i
            [ngClass]="showDropLists ? 'fa-angle-up' : 'fa-angle-down'" class="fa-solid icon-right"></i>
    </button>

    <ul class="list-group list-group--dropdown" *ngIf="showDropLists">
        <ng-container *ngIf="region">
            <li class="list-group-item" (click)="onFilter(null)">All Countries</li>
        </ng-container>
        <li class="list-group-item" *ngFor="let region of regions" (click)="onFilter(region)">
            {{ region }}
        </li>
    </ul>
</div>