@use '../utilities/' as *;

.dropdown {
    position: relative;
    width: rem(200);

    .btn {
        width: 100%;
        position: relative;
        text-align: left;

        i {
            position: absolute;
            right: rem(20);
            top: 15px
        }
    }

}